<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>MAPKIT_API_KEY</key>
        <string>sample_key</string>
        <key>IIKO_API_KEY</key>
        <string>sample_key</string>
        <key>TG_BOT_TOKEN</key>
        <string>1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890</string>
        <key>TG_CHANNEL_ID</key>
        <string>-12345678910</string>
        <key>DEV_TG_CHAT_ID</key>
        <string>12345678910</string>
        <key>SERVER_BASE_URL</key>
        <string>http://1.123.45.67:0000/</string>
        <key>MANDARIN_API_KEY</key>
        <string>sample_key</string>
    </dict>
</plist>
